page-activities {

.description{

    position: relative;
    top: 50%;
    text-align: center;

}

.alignCenter{
    display: block;
}

.alignPosition {
    position: relative;
    top: 50%;
    transform: translateY(40%); 
}


}
